@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  background: rgb(65, 65, 65);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 100%;
  height: auto;
  background: #2c2c2c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 40px);
  margin: 0 20px;
}

.header-buttons {
  padding: 5px 0;
  background: #2c2c2c;
  display: flex;
  align-items: center;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.btn {
  height: 100%;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #d9d9d9;
  padding: 5px 10px;
  background: #1f1f1f;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn:active {
  border: none;
  outline: none;
}
.btn:hover {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: rgb(7, 7, 7);
}

.spinner-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* spinner */
.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 13px solid transparent;
  border-top-color: rgb(187, 0, 187);
  border-radius: 50%;
  -webkit-animation: spinnerOne 1.2s linear infinite;
          animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 13px solid transparent;
  border-bottom-color: rgb(187, 0, 187);
  border-radius: 50%;
  -webkit-animation: spinnerTwo 1.2s linear infinite;
          animation: spinnerTwo 1.2s linear infinite;
}

@-webkit-keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 13px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 3px;
    border-top-color: rgb(65, 0, 187);
  }
  100% {
    transform: rotate(360deg);
    border-width: 13px;
  }
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 13px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 3px;
    border-top-color: rgb(65, 0, 187);
  }
  100% {
    transform: rotate(360deg);
    border-width: 13px;
  }
}
@-webkit-keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 3px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 13px;
    border-bottom-color: rgb(65, 0, 187);
  }
  100% {
    transform: rotate(360deg);
    border-width: 3px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 3px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 13px;
    border-bottom-color: rgb(65, 0, 187);
  }
  100% {
    transform: rotate(360deg);
    border-width: 3px;
  }
}
.lds-facebook-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto;
  transform: translate(-50%);
  z-index: 14;
}

.lds-facebook {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(183, 0, 255);
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.close-btn-spinner {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}
.close-btn-spinner .close-icon-spinner {
  color: rgb(202, 0, 0);
  font-size: 1.5rem;
}

.error-msg-container {
  width: 100%;
  height: 45px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.error-msg-container .error-msg {
  background-color: rgb(136, 0, 0);
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 7px 0;
  border: 0;
}

img {
  display: block;
}

.info-modal {
  position: fixed;
  z-index: 11;
  background-color: #f89406;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 20px;
  right: 5%;
  top: 10%;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.info-modal .info-modal-category {
  text-transform: capitalize;
}