@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tab-buttons {
  height: 100%;
  max-width: 1600px;
  width: 100%;
  z-index: 6;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tab-buttons .btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin: 0 5px 0 0;
}
.tab-buttons .btn-container .tab-btn {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-right: 3px solid #2c2c2c;
  background-color: silver;
  margin: 5px 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tab-buttons .btn-container .tab-btn:hover {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #d9d9d9;
}
.tab-buttons .btn-container .active-btn {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #f89406;
}
.tab-buttons .btn-container .active-btn:hover {
  background-color: #f89406;
}
.tab-buttons .control-bar-container {
  margin: 0 5px 0 auto;
  height: 100%;
  background-color: #2c2c2c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  grid-template-columns: 50px auto;
}
.tab-buttons .control-bar-container form {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.tab-buttons .control-bar-container form input {
  height: 90%;
  background-color: silver;
  border: 0;
  outline: none;
  text-indent: 5px;
}
.tab-buttons .control-bar-container form button {
  background-color: silver;
  border: none;
  outline: none;
  height: 90%;
  width: 30px;
  border-left: 1px solid #2c2c2c;
  margin-right: 5px;
}
.tab-buttons .control-bar-container form button .search-icon {
  font-size: 1.5rem;
  color: #2c2c2c;
}
.tab-buttons .control-bar-container .controlBar-icon {
  border: 1px solid #797979;
  max-height: 80%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px 0;
}
.tab-buttons .control-bar-container .controlBar-icon .sort-icon {
  font-size: 1.5rem;
  color: #f89406;
  padding: 0 5px;
}
.tab-buttons .cat-buttons {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}
.tab-buttons .cat-buttons .add-cat,
.tab-buttons .cat-buttons .del-cat {
  display: flex;
  align-items: center;
  margin: 0 8px;
  justify-self: flex-end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  color: #f89406;
  cursor: pointer;
}
.tab-buttons .cat-buttons .add-cat .add-cat-icon,
.tab-buttons .cat-buttons .add-cat .del-cat-icon,
.tab-buttons .cat-buttons .del-cat .add-cat-icon,
.tab-buttons .cat-buttons .del-cat .del-cat-icon {
  font-size: 1.8rem;
}
.tab-buttons .cat-buttons .del-cat {
  right: 50px;
  color: red;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s linear;
  z-index: 10;
}
.modal-overlay .add-category-modal {
  position: fixed;
  min-width: 200px;
  min-height: 100px;
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #2c2c2c;
  top: -200px;
  left: calc(50% - 150px);
  z-index: 8;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  transition: top 0.3s linear;
}
.modal-overlay .add-category-modal .error-msg {
  margin: 0 25px;
}
.modal-overlay .add-category-modal form {
  height: 100%;
  margin: 20px auto 20px auto;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.modal-overlay .add-category-modal form input {
  height: 30px;
  margin: 15px;
  font-size: 1.1rem;
  text-indent: 5px;
  outline: none;
  border: none;
}
.modal-overlay .add-category-modal form button {
  margin: 0 15px;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: #f89406;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.modal-overlay .add-category-modal .modal-header {
  background-color: #2c2c2c;
  color: #d9d9d9;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: auto 20px;
}
.modal-overlay .add-category-modal .modal-header h3 {
  margin-left: 15px;
}
.modal-overlay .add-category-modal .modal-header .close-btn {
  cursor: pointer;
}
.modal-overlay .add-category-modal .modal-header .close-btn .close-icon {
  color: rgb(202, 0, 0);
  font-size: 1.5rem;
}
.modal-overlay .modal-transition-1 {
  top: 100px;
  transition: top 0.3s linear;
}

.modal-transition {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s linear;
}