@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.player-options-slider {
  margin-left: 50px;
  width: 300px;
}
.player-options-slider .player-width-slider {
  width: 100%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  height: 5px;
  display: flex;
  align-items: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #a6a6a6;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */ /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0.9; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #f89406; /* Green background */
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer; /* Cursor on hover */
}
.slider::-webkit-slider-thumb:hover {
  height: 15px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #f89406; /* Green background */
  cursor: pointer; /* Cursor on hover */
}