@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  max-width: 1600px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  z-index: 7;
}
.navbar .navbar-logo {
  margin-left: 30px;
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: #f89406;
}

.menu-icon {
  position: absolute;
  margin-top: 10px;
  margin-right: 20px;
  padding: 0;
  top: 0;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #d9d9d9;
}

.menu-list {
  position: static;
  margin-right: 30px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-list a {
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  margin-left: 10px;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  padding: 0px 15px;
  color: #d9d9d9;
}
.menu-list a:hover {
  color: #fdd49a;
}
.menu-list a:active {
  color: #fdd49a;
}
.menu-list .active {
  color: #f89406;
}

/* Dropdown Button */
.dropbtn {
  background: transparent;
  color: #d9d9d9;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  z-index: 100;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 30px;
  margin-right: 3%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f1f1f1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown-content div {
  padding: 3px 6px;
  background: none;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #d9d9d9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1300px) {
  .navbar .navbar-logo {
    margin: 0 auto 0 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu-list {
    margin-right: 40px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .menu-item {
    margin-left: 5px;
    font-size: 1rem;
    color: #d9d9d9;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 740px) {
  .menu-icon {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .menu-list .menu-item {
    font-size: 1.5rem;
    color: #d9d9d9;
    padding: 20px 10px;
    text-decoration: none;
  }
  .show {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-right: 0;
    background-color: #2c2c2c;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .dropdown {
    margin-right: 70px;
  }
}