.signup-form-container {
  border-radius: 10px;
  padding: 10px 50px 60px 50px;
  box-sizing: border-box;
  max-width: 400px;
  height: auto;
  margin: 100px auto 20px auto;
  box-shadow: 0px 0px 50px 30px rgb(88, 88, 88), 0 0 3px 1px rgb(124, 0, 201);
}
.signup-form-container h1,
.signup-form-container h2,
.signup-form-container h3 {
  margin: 20px;
  text-align: center;
  color: rgb(199, 199, 199);
}
.signup-form-container form {
  width: 100%;
}
.signup-form-container form input {
  border: none;
  background: rgb(218, 218, 218);
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  height: 30px;
  font-size: 1.1rem;
  text-indent: 5px;
}
.signup-form-container form .form-buttons input {
  background: rgb(29, 29, 29);
  color: rgb(185, 185, 185);
  border: none;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.signup-form-container form .form-buttons input:hover {
  box-shadow: 0 0 5px 5px rgb(128, 128, 128);
  color: white;
  transition: all 0.3s linear;
}