SECRET_KEY=your-secret-key-here
DB_NAME=bookmarkerdjango
DB_USER=postgres
DB_PASSWORD=your-db-password-here

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

YOUTUBE_API_KEY=your-youtube-api-key-here

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-password-here
