# Environment
.env
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/

# Frontend
frontend/build/
frontend/coverage/
frontend/.pnp
frontend/.pnp.js
frontend/src/scss/

# Frontend env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
