@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$acc-color: #f89406;
$light-color: #d9d9d9;
$dark-color: #2c2c2c;
$body-bg: rgb(65, 65, 65);
$main-font: 'roboto';

$cubic1: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$shadow: 1px 1px 3px rgb(221, 193, 193), -1px -1px 3px lightgrey;
$shadow-dark: 0px 0px 6px rgb(0, 0, 0), -0px -0px 6px rgb(0, 0, 0);

$font-z: 1rem;

* {
  margin: 0;
  padding: 0;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  --video-width: 840px;
}
