@import 'config';

.add-form {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  form {
    width: 100%;
    height: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 100px;
    justify-content: stretch;
    input {
      background: darken($light-color, 15);
      display: block;
      width: 100%;
      height: 30px;
      padding: 0;

      text-indent: 10px;
      border-radius: 3px;
      border: none;
      outline: none;
      font-size: 1.2rem;

      &:active {
        outline: none;
        border: none;
      }

      &:focus {
        border: none;
        outline: none;
      }
    }
    button {
      width: 80px;
      margin: auto;
      margin-bottom: 30px;
      display: block;
      padding: 0 20px;
      height: 30px;
      font-size: 1rem;
      border: none;
      border-radius: 3px;
      background: $dark-color;
      color: white;
      cursor: pointer;
      font-weight: 600;
      box-shadow: $shadow;
      text-align: center;
      &:hover {
        background: lighten($dark-color, 25);
      }
    }
  }
}
