@import 'config';
.container-player {
    // width: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .channel-playlists {
        position: relative;
        background-color: $dark-color;
        flex: 1 1 7rem;
        box-sizing: border-box;
        padding: 10px;

        margin-left: 10px;
        min-width: 150px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        position: sticky;
        top: 40px;


        h4 {
            color: $acc-color;
        }
        .ch-pl-load-more {
            padding: 10px;
            cursor: pointer;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .ch-pl-container {
            width: 100%;
            position: relative;

            .ch-pl-image-container {
                width: 100%;
                height: fit-content;
                position: relative;
                .ch-pl-count {
                    position: absolute;
                    background-color: darken($dark-color, 10);
                    color: $light-color;
                    box-sizing: border-box;
                    padding: 2px 6px;
                    font-size: 0.9em;
                }
                &::after {
                    content: attr(data-text);
                    position: absolute;
                    top: calc(6px + 0.9em);
                    left: 0;
                    box-sizing: border-box;
                    padding: 2px;
                    background-color: $acc-color;
                    color: $dark-color;
                    display: none;
                    font-weight: bold;
                    width: 100%;
                    font-size: 0.9rem;
                    text-align: center;
                }
                &:hover::after {
                    display: block;
                }
                img {
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }
            }
            .ch-pl-body {
                width: 100%;
                box-sizing: border-box;
                padding: 7px;
                background: darken($dark-color, 10);
                width: 100%;
                font-size: 0.8rem;
                .ch-pl-title {
                    color: lighten($light-color, 5);
                    // font-weight: bold;
                    margin-bottom: 5px;
                }
                .ch-pl-description,.ch-pl-published {
                    color: lighten($acc-color,30);
                    a {
                        color: $acc-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #wrap-player {
        width: fit-content;
        .video {
            margin: 0 auto;
            // width: var(--video-width);
            width: max-content;

            .video-player-options {
                display: flex;
                flex-direction: row;
                width: var(--video-width);
                background: darken($dark-color, 5%);
                height: 30px;
                align-items: center;
                // justify-content: center;
                // align-content: center;
                // justify-items: center;

                .timestamp-control {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    // background-color: $dark-color;
                    box-sizing: border-box;
                    // border: solid 1px $light-color;
                    padding: 4px 0px 4px 10px;
                    color: $light-color;
                    button {
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        color: $light-color;
                        span:first-of-type {
                            margin-right: 5px;
                        }
                        span:last-of-type {
                            margin-left: 5px;
                            color: $acc-color;
                        }
                        &:hover {
                            color: white;
                        }
                    }
                    & > span {
                        font-size: 0.9rem;
                        border: 1px solid $light-color;
                        padding: 5px;
                        margin-left: 10px;
                        cursor: pointer;
                        &:hover {
                            color: white;
                        }
                    }
                }

                .action-buttons {
                    display: flex;
                    flex-direction: row;
                    height: inherit;
                    justify-self: flex-end;
                    margin: 0 0 0 auto;
                    .nextandprevious {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        margin: 0;
                        border: none;
                        // border-radius: 999px;
                        // box-shadow: $shadow;
                        margin: 0 1px;

                        .icon {
                            font-size: 1.3rem;
                            margin: 0;
                            color: $acc-color;
                        }
                    }
                    .disable-button {
                        pointer-events: none;
                        .icon {
                            color: gray;
                        }
                    }
                }

                .vplayer-form {
                    margin: 0;
                    padding: 0;
                    height: 35px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .save-button {
                        color: $acc-color;
                        height: 80%;
                    }
                }
                .delete-button {
                    height: 80%;
                    display: none;
                    a {
                        margin-top: 5px;
                        text-decoration: none;
                        color: red;
                        height: 100%;
                        padding: 0 10px;
                    }
                }
                .close-bookmark {
                    min-width: 100px;
                    height: 100%;
                    font-size: 1rem;
                    line-height: 0;
                    position: relative;
                    color: $acc-color;
                    justify-self: flex-start;
                    border-radius: 0;
                    overflow: visible;

                    &::after {
                        content: '';
                        display: none;
                    }
                    &:hover::after {
                        content: attr(data-text);
                        font-weight: 300;
                        color: $light-color;
                        position: absolute;
                        width: fit-content;
                        white-space: nowrap;
                        top: -10px;
                        z-index: 12;
                        margin: 0;
                        height: 10px;
                        padding: 3px;
                        background: black;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }
                }
                #resize-video {
                    margin-left: 10px;
                    height: 80%;
                    color: darken($light-color, 15);
                    box-shadow: $shadow;
                }
            }
            .video-player-options-two {
                height: 30px;
                width: 100%;
                // border-top: 2px solid lighten($dark-color, 5);
            }
            // .container-player {
            //     position: absolute;
            //     top: 80px;
            //     width: 100%;
            //     height: calc(100vh - 80px);
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;
            //     caret-color: transparent;
            //     background: $body-bg;
            //     overflow: auto;
            //     z-index: 6;
            //     gap: 0;

            //     #wrap-player {
            //         // position: sticky;
            //         // top: 0px;
            //         width: 100%;
            //         max-height: 80vh;
            //         box-sizing: border-box;
            //         // padding: 10px;
            //     }
            // }
        }
    }
}
@media screen and (max-width: 740px) {
    .container-player {
        flex-direction: column;
    }
}
