@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

.add-form {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.add-form form {
  width: 100%;
  height: 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 100px;
      grid-template-columns: auto 100px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.add-form form input {
  background: #b3b3b3;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  text-indent: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.add-form form input:active {
  outline: none;
  border: none;
}

.add-form form input:focus {
  border: none;
  outline: none;
}

.add-form form button {
  width: 80px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  padding: 0 20px;
  height: 30px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  background: #2c2c2c;
  color: white;
  cursor: pointer;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 3px #ddc1c1, -1px -1px 3px lightgrey;
          box-shadow: 1px 1px 3px #ddc1c1, -1px -1px 3px lightgrey;
  text-align: center;
}

.add-form form button:hover {
  background: #6c6c6c;
}
