@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  --video-width: 840px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-player {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-player .channel-playlists {
  position: relative;
  background-color: #2c2c2c;
  flex: 1 1 7rem;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 4px;
  margin-left: 10px;
  min-width: 150px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
.container-player .channel-playlists h4 {
  color: #f89406;
  margin-bottom: 10px;
}
.container-player .channel-playlists .ch-pl-load-more {
  padding: 10px;
  cursor: pointer;
}
.container-player .channel-playlists .channel-playlists-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-player .channel-playlists .channel-playlists-body::-webkit-scrollbar-track {
  background: transparent;
}
.container-player .channel-playlists .channel-playlists-body::-webkit-scrollbar-thumb {
  background: transparent;
}
.container-player .channel-playlists .channel-playlists-body:hover::-webkit-scrollbar-thumb {
  background: #f89406;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container {
  width: 100%;
  position: relative;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal {
  max-width: calc(100% - 12px);
  position: absolute;
  padding: 10px;
  background: #d9d9d9;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 16;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-body {
  max-height: 120px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-body li {
  list-style-type: none;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-body li p {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin: 2px 0;
  padding: 0 3px;
  width: 100%;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-body li p:hover {
  background: #b3b3b3;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-buttons {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-buttons button {
  cursor: pointer;
  padding: 3px 8px;
  border: none;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .categories-modal .categories-modal-buttons button:first-of-type {
  background: #f89406;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-channel-title {
  background-color: #131313;
  color: #d9d9d9;
  padding: 5px;
  font-size: 0.8rem;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container #h {
  --i: 0;
  --x: -1;
  --y: 0;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container #e {
  --i: 1;
  --x: 1;
  --y: 0;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container #o {
  --i: 6;
  --x: 0;
  --y: 0;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn {
  position: absolute;
  width: 3em;
  height: 3em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 15;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn.active {
  width: 7em;
  height: 7em;
  background: rgba(255, 255, 255, 0.9);
  transform: rotate(90deg);
  transition-delay: 0.1s;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn > span {
  cursor: pointer;
  position: absolute;
  width: 0.2em;
  height: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  transform: translate(calc(0.5em * var(--x)), calc(0.5em * var(--y)));
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.5s, height 0.5s, background 0.5s;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn > span > .icon {
  cursor: pointer;
  opacity: 0;
  font-size: 0em;
  color: #464646;
  transition: 0.2s;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn.active > span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 2px 10px;
  background: transparent;
  border-radius: 5px;
  transform: translate(calc(2em * var(--x)), calc(2em * var(--y))) rotate(-90deg);
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn.active#h {
  transition: translate(calc((var(--x) + 1) * 60px), calc((var(--y) + 1) * 60px));
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn.active > span > .icon {
  opacity: 1;
  font-size: 1em;
  transition-delay: 0;
  /* transition-delay: transform calc(0.8s * var(--y)), font-size 0.8s, filter 0s; */
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container .related-videos-btn.active > span:hover > .icon {
  color: #131313;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 0 2px #f89406) drop-shadow(0 0 -5px #f89406) drop-shadow(0 0 -15px #f89406);
  transition-delay: 0;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2px;
  background-color: black;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: none;
  color: white;
  z-index: 13;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container:hover::after {
  display: block;
  opacity: 0.9;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container:hover::before {
  display: block;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-image-container img {
  width: 100%;
  height: auto;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body {
  width: 100%;
  box-sizing: border-box;
  padding: 7px;
  background: #131313;
  width: 100%;
  font-size: 0.8rem;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-title {
  color: #e6e6e6;
  margin-bottom: 5px;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-description,
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-published {
  color: #fdd49a;
  display: inline-block;
  white-space: nowrap;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-description a,
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-published a {
  color: #f89406;
  text-decoration: none;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.container-player .channel-playlists .channel-playlists-body .ch-pl-container .ch-pl-body .ch-pl-footer .ch-pl-count {
  display: inline-block;
  color: #fdd49a;
  text-shadow: 0px 0px 1px 1px rgba(216, 216, 216, 0.3);
  box-sizing: border-box;
  font-size: 1em;
  z-index: 13;
  border-radius: 9999px;
  white-space: nowrap;
}
.container-player #wrap-player {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.container-player #wrap-player .video {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.container-player #wrap-player .video .video-player-options {
  display: flex;
  flex-direction: row;
  width: var(--video-width);
  background: #1f1f1f;
  height: 30px;
  align-items: center;
}
.container-player #wrap-player .video .video-player-options .timestamp-control {
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 0px 4px 10px;
  color: #d9d9d9;
}
.container-player #wrap-player .video .video-player-options .timestamp-control button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #d9d9d9;
}
.container-player #wrap-player .video .video-player-options .timestamp-control button span:first-of-type {
  margin-right: 5px;
}
.container-player #wrap-player .video .video-player-options .timestamp-control button span:last-of-type {
  margin-left: 5px;
  color: #f89406;
}
.container-player #wrap-player .video .video-player-options .timestamp-control button:hover {
  color: white;
}
.container-player #wrap-player .video .video-player-options .timestamp-control > span {
  font-size: 0.9rem;
  border: 1px solid #d9d9d9;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.container-player #wrap-player .video .video-player-options .timestamp-control > span:hover {
  color: white;
}
.container-player #wrap-player .video .video-player-options .action-buttons {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-self: flex-end;
  margin: 0 0 0 auto;
}
.container-player #wrap-player .video .video-player-options .action-buttons .nextandprevious {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  border: none;
  margin: 0 1px;
}
.container-player #wrap-player .video .video-player-options .action-buttons .nextandprevious .icon {
  font-size: 1.3rem;
  margin: 0;
  color: #f89406;
}
.container-player #wrap-player .video .video-player-options .action-buttons .disable-button {
  pointer-events: none;
}
.container-player #wrap-player .video .video-player-options .action-buttons .disable-button .icon {
  color: gray;
}
.container-player #wrap-player .video .video-player-options .vplayer-form {
  margin: 0;
  padding: 0;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-player #wrap-player .video .video-player-options .vplayer-form .save-button {
  color: #f89406;
  height: 80%;
}
.container-player #wrap-player .video .video-player-options .delete-button {
  height: 80%;
  display: none;
}
.container-player #wrap-player .video .video-player-options .delete-button a {
  margin-top: 5px;
  text-decoration: none;
  color: red;
  height: 100%;
  padding: 0 10px;
}
.container-player #wrap-player .video .video-player-options .close-bookmark {
  min-width: 100px;
  height: 100%;
  font-size: 1rem;
  line-height: 0;
  position: relative;
  color: #f89406;
  justify-self: flex-start;
  border-radius: 0;
  overflow: visible;
}
.container-player #wrap-player .video .video-player-options .close-bookmark::after {
  content: "";
  display: none;
}
.container-player #wrap-player .video .video-player-options .close-bookmark:hover::after {
  content: attr(data-text);
  font-weight: 300;
  color: #d9d9d9;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  top: -10px;
  z-index: 12;
  margin: 0;
  height: 10px;
  padding: 3px;
  background: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container-player #wrap-player .video .video-player-options #resize-video {
  margin-left: 10px;
  height: 80%;
  color: #b3b3b3;
  box-shadow: 0px 0px 1px 1px rgba(216, 216, 216, 0.3);
}
.container-player #wrap-player .video .video-player-options-two {
  height: 30px;
  width: 100%;
}

@media screen and (max-width: 740px) {
  .container-player {
    flex-direction: column;
  }
}